body {
  background-color: white;
}

h1 {
  color: #F4442E;

}

h2 {
  color: #EF6204;
}

h3 {
  color: #F18F01;
}
p {
  color: #FFB759;
}

nav {
color: #F5CB5C;
}


.grid-container {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: 150px 1fr 150px;
  grid-template-areas: "header header" "nav article" "footer footer";
  background: #F5CB5C;
}

.header { grid-area: header;
  background: #F5CB5C;
display: flex;
align-items: center;
justify-content: center;}

.header h1 {
  text-align: center;
  font-size: 5rem;
}

.nav { grid-area: nav;
text-align: left;

}

.nav ul {display: block;
background: #F4442E;
padding: 50px;
    margin: 0;}

.article { grid-area: article;
  background: #02010A;
text-align: center;
Padding: 5%;
}

.article img {max-width: 100%;}
.footer { grid-area: footer;
text-align: center;
background: #F5CB5C;
}
